@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Nunito+Sans&family=Poppins:ital@1&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
/* color: FF1700 */

.logo-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    line-height: 33px;
    font-weight: 600px;
    font-style: normal;
  }

  .hr{
    border-left: 2px solid white;
    height: 30px;
  }